﻿@using System.Web.Mvc;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;

<!DOCTYPE html>
<html @Html.RenderLangAttribute()>
<head>
	<title>Varsity</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	@Html.Section("head")
	@Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/Varsity/assets/css/font-awesome.css"), "head", true)
	@Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/Varsity/assets/css/bootstrap.css"), "head", true)
	@Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/Varsity/assets/css/slick.css"), "head", true)
	@Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/Varsity/assets/css/theme-color/default-theme.css"), "head", true)
	@Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/Varsity/assets/css/style.css"), "head", true)
	@Html.StyleSheet(Url.WidgetContent("https://fonts.googleapis.com/css?family=Montserrat:400,700"), "head", true)
	@Html.StyleSheet(Url.WidgetContent("https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,700"), "head", true)
</head>

<body>
	<div>
		@Html.SfPlaceHolder("Contentplaceholder1")
	</div>
</body>

@Html.Script(Url.Content("~/resourcepackages/varsity/assets/js/jquery.min.js"), "head") 
@Html.Script(Url.Content("~/resourcepackages/varsity/assets/js/bootstrap.js"), "head") 
@Html.Script(Url.Content("~/resourcepackages/varsity/assets/js/slick.js"), "head") 
@Html.Script(Url.Content("~/resourcepackages/varsity/assets/js/waypoints.js"), "head") 
@Html.Script(Url.Content("~/resourcepackages/varsity/assets/js/jquery.counterup.js"), "head") 
</html>
