﻿@using Varsity.Mvc.Models

@model List<Course>

@if (Model != null && Model.Any())
{
    <section id="mu-course-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-course-content-area">
                        <div class="row">
                            <div class="col-md-9">
                                <!-- start course content container -->
                                <div class="mu-course-container">
                                    <div class="row">
                                        @{
                                            foreach (var course in Model)
                                            {
                                                string url = Url.Action("Detail", "Course", new RouteValueDictionary { { "url", course.Url } }).ToLower();

                                                <div class="col-md-6 col-sm-6">
                                                    <div class="mu-latest-course-single">
                                                        <figure class="mu-latest-course-img">
                                                            <a href="@url" title="Course Avatar"><img src="@course.Image.MediaUrl" alt="img"></a>
                                                            <figcaption class="mu-latest-course-imgcaption">
                                                                <a href="@url">@course.Category.Name</a>
                                                                <span><i class="fa fa-clock-o"></i>@course.Duration</span>
                                                            </figcaption>
                                                        </figure>
                                                        <div class="mu-latest-course-single-content">
                                                            <h4><a href="@url" title="Course Title">@course.Title</a></h4>
                                                            <p>@course.Description.GetFirstParagraph()</p>
                                                            <div class="mu-latest-course-single-contbottom">
                                                                <a class="mu-course-details" href="@url" title="Course Details">Details</a>
                                                                <span class="mu-course-price" href="#">@course.Price</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                                <!-- end course content container -->
                                <!-- start course pagination -->
                                <div class="mu-pagination">
                                    <nav>
                                        <ul class="pagination">
                                            @{
                                                int maxPage = (int)ViewBag.MaxPage;
                                                int index = (int)ViewBag.PageIndex;
                                                int preIndex = (int)ViewBag.PreIndex;
                                                int nextIndex = (int)ViewBag.NextIndex;

                                                string preUrl = string.Format("/home/course?index={0}", preIndex);
                                                string nextUrl = string.Format("/home/course?index={0}", nextIndex);

                                                <li>
                                                    <a href="@preUrl" aria-label="Previous" title="Previous">
                                                        <span class="fa fa-angle-left"></span> Prev
                                                    </a>
                                                </li>

                                                for (int i = 1; i <= maxPage; i++)
                                                {
                                                    string active = i == index ? "active" : "";
                                                    string url = string.Format("/home/course?index={0}", i);
                                                    <li class="@active"><a href="@url" title="Page @i">@i</a></li>
                                                }

                                                <li>
                                                    <a href="@nextUrl" aria-label="Next" title="Next">
                                                        Next <span class="fa fa-angle-right"></span>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </nav>
                                </div>
                                <!-- end course pagination -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
