﻿@using Varsity.Mvc.Models

@model Course

@{Html.RenderAction("Index", "BreadcrumbWidget");}

@if (Model != null)
{
	<section id="mu-course-content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-course-content-area">
						<div class="row">
							<div class="col-md-9">
								<!-- start course content container -->
								<div class="mu-course-container mu-course-details">
									<div class="row">
										<div class="col-md-12">
											<div class="mu-latest-course-single">
												<figure class="mu-latest-course-img">
													<a href="#" title="Course Avatar"><img src="@Model.Image.MediaUrl" alt="Course Avatar"></a>
													<figcaption class="mu-latest-course-imgcaption">
														<a href="#" title="Course Name">@Model.Category.Name</a>
														<span><i class="fa fa-clock-o"></i>@Model.Duration</span>
													</figcaption>
												</figure>
												<div class="mu-latest-course-single-content">
													<h2><a href="#" title="Course Title">@Model.Title</a></h2>
													<h4>Course Information</h4>
													<ul>
														<li> <span>Course Price</span> <span>$@Model.Price</span></li>
														<li> <span>Place</span> <span>@Model.Place.City, @Model.Place.CountryCode</span></li>
														<li> <span>Total Students</span> <span>@Model.Students +</span></li>
														<li> <span>Course Duration</span> <span>@Model.Duration Weeks</span></li>
														<li> <span>Course Start</span> <span>@Model.StartDate.ToString("MM dd, yyyy")</span></li>
													</ul>
													<h4>Description</h4>
													@Html.Raw(Model.Description)
													<h4>Course Outline</h4>
													<div class="table-responsive">
														<table class="table">
															<thead>
																<tr>
																	<th> Title </th>
																	<th> Course Time </th>
																	<th> Spent Time </th>
																	<th> Status </th>
																</tr>
															</thead>
															<tbody>
																@{
																	foreach (var outline in Model.outlines)
																	{
																		<tr>
																			<td> @outline.Title </td>
																			<td> @outline.CourseTime </td>
																			<td> @outline.SpentTime </td>
																			<td> @outline.Status </td>
																		</tr>
																	}
																}
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- end course content container -->
								<!-- end start related course item -->
							</div>
							<div class="col-md-3">
								<!-- start sidebar -->
								<aside class="mu-sidebar">
									<!-- start single sidebar -->
									<div class="mu-single-sidebar">
										<h3>Categories</h3>
										<ul class="mu-sidebar-catg">
											<li><a href="#">Web Design</a></li>
											<li><a href="">Web Development</a></li>
											<li><a href="">Math</a></li>
											<li><a href="">Physics</a></li>
											<li><a href="">Camestry</a></li>
											<li><a href="">English</a></li>
										</ul>
									</div>
									<!-- end single sidebar -->
									<!-- start single sidebar -->
									<div class="mu-single-sidebar">
										<h3>Popular Course</h3>
										<div class="mu-sidebar-popular-courses">
											<div class="media">
												<div class="media-left">
													<a href="#">
														<img class="media-object" src="assets/img/courses/1.jpg" alt="img">
													</a>
												</div>
												<div class="media-body">
													<h4 class="media-heading"><a href="#">Medical Science</a></h4>
													<span class="popular-course-price">$200.00</span>
												</div>
											</div>
											<div class="media">
												<div class="media-left">
													<a href="#">
														<img class="media-object" src="assets/img/courses/2.jpg" alt="img">
													</a>
												</div>
												<div class="media-body">
													<h4 class="media-heading"><a href="#">Web Design</a></h4>
													<span class="popular-course-price">$250.00</span>
												</div>
											</div>
											<div class="media">
												<div class="media-left">
													<a href="#">
														<img class="media-object" src="assets/img/courses/3.jpg" alt="img">
													</a>
												</div>
												<div class="media-body">
													<h4 class="media-heading"><a href="#">Health & Sports</a></h4>
													<span class="popular-course-price">$90.00</span>
												</div>
											</div>
										</div>
									</div>
									<!-- end single sidebar -->
									<!-- start single sidebar -->
									<div class="mu-single-sidebar">
										<h3>Archives</h3>
										<ul class="mu-sidebar-catg mu-sidebar-archives">
											<li><a href="#">May <span>(25)</span></a></li>
											<li><a href="">June <span>(35)</span></a></li>
											<li><a href="">July <span>(20)</span></a></li>
											<li><a href="">August <span>(125)</span></a></li>
											<li><a href="">September <span>(45)</span></a></li>
											<li><a href="">October <span>(85)</span></a></li>
										</ul>
									</div>
									<!-- end single sidebar -->
									<!-- start single sidebar -->
									<div class="mu-single-sidebar">
										<h3>Tags Cloud</h3>
										<div class="tag-cloud">
											<a href="#">Health</a>
											<a href="#">Science</a>
											<a href="#">Sports</a>
											<a href="#">Mathematics</a>
											<a href="#">Web Design</a>
											<a href="#">Admission</a>
											<a href="#">History</a>
											<a href="#">Environment</a>
										</div>
									</div>
									<!-- end single sidebar -->
								</aside>
								<!-- / end sidebar -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
}
