﻿@model Varsity.Mvc.Models.BreadcrumbWidget

@{
	bool isDisplay = !string.IsNullOrEmpty(Model.RootPath) && !string.IsNullOrEmpty(Model.SecondPath);

	if (isDisplay)
	{
		<section id="mu-page-breadcrumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mu-page-breadcrumb-area">
							<h2>@Model.SecondPath</h2>
							<ol class="breadcrumb">
								<li><a href="/home" title="Home">@Model.RootPath</a></li>
								<li><a href="/home/course" class="active" title="Course">@Model.SecondPath</a></li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</section>
	}
}
